/* font */

* {
    font-family: 'Times New Roman', Times, serif;
}

/*  start book search */
.book_search {
    background-color: #f5f5f5;

    /* nav */
    .nav {
        display: flex;
        flex-wrap: wrap;
        background-color: #4aa1a1;
    }

    .nav .logo {
        width: 100px;
        height: 85px;
        object-fit: cover;
    }

    .nav h1 {
        /* width: 85%; */
        color: #ffffff;
        margin-left: 20px;
        flex-grow: 1;
    }

    /* small */
    @media (max-width:767px) {

        /* nav */
        .nav h1 {
            display: flex;
            justify-content: center !important;
            align-items: center;
        }

        .nav .logo {
            display: flex;
            width: 100%;
            justify-content: center;
        }

        /* main */
        .book1,
        .book2,
        .book3,
        .book4,
        .book5,
        .book6 {
            width: 140px !important;
            height: 210px !important;
            margin: 16px 20px 98px 20px !important;
        }

        .underface {
            font-size: 20px !important;
        }

        .face1,
        .face2,
        .face3,
        .face4,
        .face5,
        .face6 {
            height: 70% !important;
        }
    }

    /* main */
    .main {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }

    /* All Books */
    .book1,
    .book2,
    .book3,
    .book4,
    .book5,
    .book6 {
        width: 230px;
        height: 380px;
        position: relative;
        margin: 16px;
    }

    .face1,
    .face2,
    .face3,
    .face4,
    .face5,
    .face6 {
        width: 100%;
        height: 60%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 10%;
    }

    .underface {
        font-size: 20px;
        padding-left: 15px;
    }

    .btn {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
    }

    .btn button {
        border: 2px solid blue;
        width: 100%;
        font-size: 20px;
        border-radius: 15%;
    }


    /* Book1 */
    .face1 {
        background-image: url("/files/images/book1_cover.jpeg");
    }

    /* Book2 */
    .face2 {
        background-image: url("/files/images/book2_cover.jpeg");
    }

    /* Book3 */
    .face3 {
        background-image: url("/files/images/book3_cover.jpeg");
    }

    /* Book4 */
    .face4 {
        background-image: url("/files/images/book4_cover.jpeg");
    }

    /* Book5 */
    .face5 {
        background-image: url("/files/images/book5_cover.jpeg");
    }

    /* Book6 */
    .face6 {
        background-image: url("/files/images/book6_cover.jpeg");
    }

}

/* End book search */
/* Add book */
.inputwin {
    width: 70%;
    max-width: 700px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* background-color: #eee; */
    border-radius: 20px;
}

.inputfield {
    width: 100%;
    display: flex;
    justify-content: center;
}

.addbooktitle {
    margin-bottom: 10px;
}

.addbook {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.textfield:placeholder-shown {
    transform: translateY(-22px);

}

.textfield {

    padding: 13px 20px;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    border-color: gray;
    font-size: 16px;
    width: 100%;
    transition: transform 0.2s ease-in;
    transform: translateY(0);
}


.input-wrapper:has(.textfield:placeholder-shown) {
    /* max-height: 45px; */
    margin-bottom: -25px;
    transition: all 0.2s ease-in;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 3px;
    width: 100%;
    max-height: min-content;
    margin-bottom: 0px;
    transition: all 0.2s ease-in;
}

.input-wrapper:has(.textfield:placeholder-shown) .input-label {
    opacity: 0;
}

.input-wrapper .input-label {
    font-size: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    min-width: max-content;
    transition: opacity 0.7s ease-out;
    color: #333;
    opacity: 1;

}

.inputwin hr {
    height: 3px;
    border-style: hidden;
    background-color: #ddd;
    border-radius: 30px;
    width: 100%;
}

.textfield::placeholder {
    color: #888;
}

.textinput {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}



.formbutton {
    padding: 10px;
    background-color: #007aff;
    font-size: 1.1em;
    color: white;
    border-radius: 6px;
}

/* End Add book */